.s {
    height: 40px;
    font-size: 20px;
    color: red;
}

/* .tb-head>tr>td {
    border: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
} */

.tb td {
    border: 1px solid red;
}

/* .tb-body>tr>td {
    border: 1px solid #000;
} */

/* p {
    background: yellowgreen;
    color: darkgreen;
} */

.class1 {
    /* background: red; */
    color: darkgreen;
}

#p1 {
    background: yellowgreen;
    color: darkgreen;
}